body, html {
    margin: 0;
    padding: 0;
    height: 5%;
    background: url('https://test-images-123hrechenko.s3.eu-central-1.amazonaws.com/oil_background.png') no-repeat center center fixed;
    background-size: 100%;
  }

/*  */

.background-image {
    width: 40%;
    height: auto;
    display: block; /* Remove extra space below the image */
    position: relative; /* Relative to the container */
}

.movable-image {
    position: absolute;
    width: 35%; /* Size of the movable element */
    height: auto;
    top: 40%; /* Position adjustments */
    left: 45%; /* You'll need to adjust these based on exact alignment needs */
    transform: translate(-50%, -50%); /* Centers the image based on its size */
}
